.card-header {
    background-color: unset !important;
    border-bottom: 0px;
    padding: 10px;
}

.card-header h4 {
    font-size: 30px !important;
    color: #2E86C1 !important;
}

.buttons.money .btn {
    display: inline-grid !important;
}

.buttons a,
.buttons a:hover {
    font-weight: bold !important;
    color: #2E86C1 !important;
    padding: 15px !important;
    background-color: white !important;
    width: 30%;
}

.card {
    border-radius: 20px !important;
}

.card-body {
    padding: 2rem 0.25rem !important;
}

.money a i {
    font-size: 18px !important;
}

.buttons .btn {
    margin: 0 5px !important;
}

span{
    color: #636363;    
}

.user-body{
    padding: 10px 5px !important;
}