<div class="footer">
  <div class="text-center buttons footer">
    <a href="#" routerLinkActive="active" class="btn btn-icon"><i class="fa fa-hashtag"></i> </a>
    <a routerLink="/display/main" routerLinkActive="active" class="btn btn-icon"><i class="fa fa-money"></i> </a>
    <a class="btn btn-teal btn-icon"><i class="fa fa-qrcode" style="color: white;"></i> </a>
    <a href="#" routerLinkActive="active" class="btn btn-icon"><i class="fa fa-credit-card"></i> </a>
    <a href="#" routerLinkActive="active" class="btn btn-icon"><i class="fa fa-user-circle-o"></i> </a>
  </div>
</div>